<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <%- include('../common/stylesheets'); %>

    <!-- AWS SDK -->
    <script type="text/javascript" src="/bower_components/aws-sdk/dist/aws-sdk.min.js"></script>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/navigation'); %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:100%">
                <h3>
                  <i class="fa fa-folder-open my-documents-icon"></i>Documents</h3>
              </div>

            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="">

              <div class="clearfix"></div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                  <div class="x_panel" style="padding-top:5px; border-radius:0">

                    <div class="x_content">
                      <div class="row" style="margin:3px 0;">

                        <div class="x_panel" style="border-radius:0">

                          <div class="col-xs-12">

                            <form>
                            <div class="row" style="margin-top:6px;">
                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <h4 class="label-filter" style="margin-top:3px;">
                                  <i class="fa fa-filter"></i>Filter</h4>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
                                <div class="form-group">
                                  <select class="form-control" name="doctype">
                                    <option selected disabled value="">Document Type</option>
                                    <% documentTypes.forEach(function (type) { %>
                                      <option value="<%= type %>" <%= (type == query.doctype) ? 'selected' : ''; %>><%= type %></option>
                                    <% }); %>
                                  </select>
                                </div>
                              </div>
                              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group has-feedback">
                                  <input type="text" class="form-control" id="inputSuccess219" placeholder="Block" name="block" value="<%= query.block %>">
                                </div>
                              </div>
                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group has-feedback">
                                  <input type="text" class="form-control" id="inputSuccess219" placeholder="Flat No." name="flatno" value="<%= query.flatno %>">
                                </div>
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
                                <button class="btn btn-success btn-search">
                                  <i class="fa fa-search" style="font-size:20px"></i>
                                </button>
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
                                <button class="btn btn-xs btn-info btn-search" style='margin-top: 2px;' onclick="clearFilters(event);">
                                  Clear Filters
                                </button>
                              </div>
                            </div>
                          </form>
                          </div>
                        </div>
                        <!-- x _panel -->
                      </div>

                      <% if(data.length == 0) { %>
                        <div class="x_panel" style="padding:23px 25px;">
                          <div class="row">
                            <div class="col-xs-12">
                              <h1 style='text-align: center;'>No Documents Found!</h3>
                            </div>
                          </div>
                        </div>
                      <% } else { %>

                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="x_panel" style="padding:0">
                            <div class="x_title label-my-documents">
                              <h2 style="font-weight:200;">My Documents</h2>

                              <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="padding:0">
                              <table class="table common-table">
                                <thead>
                                  <tr>
                                    <th>Date</th>
                                    <th>Document Type</th>
                                    <th>Note</th>
                                    <th>Block</th>
                                    <th>Flat No.</th>
                                    <th>Uploaded By</th>
                                    <th class="text-center">Download</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% data.forEach(function (doc) { %>
                                  <tr>
                                    <td><%= moment(doc.uploadDateTime).format("DD-MMM-YYYY") %></th>
                                    <td><%= doc.docType %></td>
                                    <td><%= doc.note %></td>
                                    <td><%= doc.addedBy.block %></td>
                                    <td><%= doc.addedBy.flatNo %></td>
                                    <td style="font-weight:700"><%= doc.addedBy.name %></td>
                                    <td class="text-center">
                                      <a download="<%= doc.aws.fileName %>"  class="dl-file-link" data-bucket="<%= doc.aws.bucket %>" data-key="<%= doc.aws.key %>">
                                        <i class='fa fa-download hover-pointer'></i>
                                      </a>
                                    </td>
                                  </tr>
                                  <% }); %>
                                </tbody>
                              </table>
                            </div>
                            <!-- x-content -->
                          </div>
                          <!-- x_panel -->
                        </div>
                      </div>
                      <% } %>

                    </div>
                    <!-- x-content -->
                  </div>
                  <!-- x_panel -->
                </div>
              </div>

            </div>
            <!-- /page content -->

            <!-- footer content
                        <footer>
                            <div class="pull-right">
                                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                        <!-- /footer content -->
          </div>
        </div>
        <!-- right_col -->

        <div id="custom_notifications" class="custom-notifications dsp_none">
          <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
          <div class="clearfix"></div>
          <div id="notif-group" class="tabbed_notifications"></div>
        </div>
      </div>
      <!-- main container -->
    </div>
    <!-- container body -->
    <%- include('../common/javascripts'); %>
    <!-- Dropzone.js -->
    <script src="../vendors/dropzone/dist/min/dropzone.min.js"></script>

    <!-- PNotify
            <script>
      $(document).ready(function() {
        new PNotify({
          title: "PNotify",
          type: "info",
          text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
          nonblock: {
              nonblock: true
          },
          addclass: 'dark',
          styling: 'bootstrap3',
          hide: false,
          before_close: function(PNotify) {
            PNotify.update({
              title: PNotify.options.title + " - Enjoy your Stay",
              before_close: null
            });

            PNotify.queueRemove();

            return false;
          }
        });

      });
            </script>
           <!-- PNotify -->

    <!-- Custom Notification -->
    <script>
    var clearFilters = function (e) {
      e.preventDefault();
      var url = window.location.href.split('?')[0];
      console.log(url);
      window.location.assign(url);
    }
    $(document).ready(function () {
      // AWS Config
      var tempCreds = {
    		accessKeyId: '<%= tempCreds.AccessKeyId %>',
    		secretAccessKey: '<%= tempCreds.SecretAccessKey %>',
    		sessionToken: '<%= tempCreds.SessionToken %>'
    	}
      AWS.config.update(tempCreds) ;
      // Configure your region
      AWS.config.region = '<%= awsRegion %>';
      var bucket = new AWS.S3({params: {Bucket: '<%= awsDocumentBucketName %>'}});

      $(".dl-file-link").each(function (l) {
        var self = $(this);
        var params = {Bucket: $(this).data("bucket"), Key: $(this).data("key")};
        bucket.getSignedUrl('getObject', params, function (err, url) {
          console.log("The URL is", url);
          self.prop('href',url);
        });

      })
    })
    </script>
    <!-- /Custom Notification -->
  </body>
</html>
