
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Emergency Contact</title>

<%- include('../common/stylesheets'); %>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <%- include('../common/resident-navigation'); %>
        
        <!-- page content -->

        <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left" style="width:100%">
                                <h3 id="label-emergency-cntct"><i class="fa fa-plus emergency-icon"></i>Emergency Contacts</h3>
                            </div>
                            
                        </div> <!-- page title -->

                        <div class="clearfix"></div>

                        <div class="x_panel" style="padding:23px 14px;">
              
                            <div class="clearfix"></div>
                    <% for (var i = 0; i < data.length; i++) { %>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="x_panel emergency-cntct-panel">
                                    <div class="x_title red-txt">
                                        <p><i class="fa fa-shield"></i><%= data[i].type %></p>
                                            
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content emergency-content">
                                        <ul class="list-unstyled emergency-number">
                                        <% for (var j = 0; j < data[i].contacts.length; j++) { %>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                        <%=  data[i].contacts[j].organization %>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 pull-right">
                                                    <i class="fa fa-mobile-phone"></i> 
                                                        <%=  data[i].contacts[j].contactPhone %>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                            <% } %>
                                        </ul>
                                    </div> <!-- emergency-content -->
                                
                                </div> <!-- x_Panel -->
                            </div> <!-- col-md-4 -->
                             <% } %>
                        </div>

                <!-- /page content -->
            </div>
        </div>
        <!-- right_col -->

        <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications"></div>
        </div>
    </div>
    <!-- main container -->
</div>
<!-- container body -->

<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/vendors/iCheck/icheck.min.js"></script>
<!-- PNotify -->
<script src="/vendors/pnotify/dist/pnotify.js"></script>
<script src="/vendors/pnotify/dist/pnotify.buttons.js"></script>
<script src="/vendors/pnotify/dist/pnotify.nonblock.js"></script>
<script type="text/javascript" src="/vendors/serializejson.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/js/custom.min.js"></script>

<script type="text/javascript">
    var $edit_form = $('#edit_form');
    $edit_form.submit(function(e){
        e.preventDefault();
        var formData = $(this).serializeJSON();
        var isProfilePrivate = $('#private').is(':checked');
        formData.isProfilePrivate = isProfilePrivate;
        console.log(formData);
        $.ajax({
            method: "POST",
            url: "/editProfile",
            data: formData,
            success: function (data) {
                if (!data.error) {
                    $('#profile-name').html($('#name').val());
                }
            },
            error: function (err) {
                console.log(err);
            },
            complete: function (){
                
            }
        });
    });


</script>

</body>
</html>